h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.page {
  padding: 1em;
}

.home {
  padding-top: 1.5em;
}

.trip-card {
  padding-top: 1em;
  padding-bottom: 1em;
}

.trip-title {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.trip-dates {
  font-size: 1em;
}

.trip .header {
  border-bottom: 1px solid grey;
  padding: 1.5em 0em 0.5em 0em;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.trip .query-summary {
  background-color: #F2F2F2;
  padding: 1em;
  font-size: 0.8em;
}

.overall-itinerary {
  margin-top: 1em;
}

.day-itinerary {
  margin-bottom: 1em;
}

.day-itinerary .date {
  font-weight: bold;
  font-size: 1em;
  padding: 1em 0 1em 0;
}

.day-itinerary-item {
  padding: 0.5em 0;
}

